/* **************************** First Year*****************************/

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#subject-page {
    /* background-image: linear-gradient( rgb(6, 80, 83), rgb(255, 255, 255)); */
    background-image: url("assets/sub.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

.container-subject {
    width: 100%;
    display: flex;
    padding: 60px 0 0 140px;
}

.content-subject {
    position: relative;
}

.content-subject2 {
    margin-left: 50px;
}

.item-subject img {
    border: 3px solid #015c5c;
    border-radius: 60px;
    background-color: white;
}

.item-vertical-line {
    position: absolute;
    width: 5px;
    height: 800px;
    /* background: #006a6a; */
    background-image: linear-gradient(rgb(255, 255, 255), rgb(14, 14, 52));
    left: 58px;
}

#list {
    margin-top: 80px;
}

.item-name {
    padding: 20px 0px;
    font-size: 20px;
    color: #ffffff;
}

.item-name h1 {
    font-family: "Comic Sans MS", "Comic Sans";
    background: -webkit-linear-gradient(rgb(213, 75, 0), rgb(255, 219, 194));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.item-list {
    display: flex;
}

.item-line {
    font-size: 45px;
    /* color: rgb(5, 75, 92); */
    color: white;
    margin-top: 8px;
}

.item-list1 {
    /* background-image: linear-gradient(to right, #0b3c3c, #057070); */
    background-color: white;
    padding: 25px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 5px 5px 8px rgb(59, 59, 59);
}

.item-list1:hover {
    transform: translateY(-10px);
    background-color: rgb(18, 16, 38);
    color: rgb(255, 255, 255);
    box-shadow: 0 3px 5px rgb(228, 228, 228);
}

.item-list1:hover p {
    color: rgb(255, 255, 255);
}

.item-list1 p {
    font-family: "Comic Sans MS", "Comic Sans";
    font-size: 20px;
    color: rgb(72, 73, 80);
}


/* **************** footer****************/

footer {
    /* background-color: black; */
    background-image: linear-gradient(rgba(45, 95, 156, 0.4), black);
}

.top-navbar {
    width: 100%;
    padding: 20px;
}

.top-nav-content {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 1px;
}

.top-nav-content ul {
    display: flex;
    padding-right: 10px;
}

.top-nav-content ul li {
    list-style: none;
    padding-right: 10px;
    color: white;
}

.top-nav-content ul li a {
    color: white;
    text-decoration: none;
    padding: 4px;
}

.top-nav-content ul li a:hover {
    color: blue;
    text-decoration: none;
}

#facebook:hover {
    color: #4267B2;
    background-color: white;
}

#twitter:hover {
    color: #00acee;
    background-color: white;
}

#linkedin:hover {
    color: #0e76a8;
    background-color: white;
}

#youtube:hover {
    color: #c4302b;
    background-color: white;
}

@media(max-width:510px) {
    .top-nav-content {
        display: block;
        margin: 0%;
    }
    .top-nav-content ul {
        justify-content: center;
        padding: 2px;
    }
}

@media(max-width:421px) {
    .top-nav-content {
        display: block;
        margin: 0%;
    }
    .top-nav-items1 ul {
        text-align: center;
        padding: 2px;
        display: block;
    }
}

footer p {
    padding: 15px;
    text-align: center;
    color: white;
}